#coming{
    height:80vh;
    font-size: 80px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#brand{
    
    height:10vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}